doctype html
html
    head
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")

        title #{title}
        link(rel='stylesheet', href='/css/style.css')
        script(src="/lib/vue.js")
        script(src="/lib/jquery-1.11.1.js")
        script(src="/lib/socket.io-1.2.0.js")
        script(src="/lib/jquery.maskedinput.min.js")
        script(src="/lib/jquery.redirect.js")
        script(src="/lib/dynamicListener.js")
        script(src="/js/header.js")

    body
        //меню
        div
            a(href="/") На главную
            if !isAuth
                br
                a(href="/signup") Регистрация
                br
                a(href="/signin") Авторизация
            br
            a(href="/game") Игра
            br
            a(href="/rating_users") Рейтинг игроков

        // Логин
        if isAuth
            br
            if nickname === "anonymus"
                p Здравствуйте, #{nickname + "_" + isAuth}
            else
                p Здравствуйте, #{nickname}
            a(href="/logout") Выйти

        block content

        h4= activeMessage

        if game_mode === "CP"
            script.
                $(document).ready(function () {
                    $("#page-game").show();

                    $("#page-start").hide();
                    $("#page-login").hide();
                    $("#page-lobby").hide();
                    $("#page-computer").hide();
                    $("#page-setting").hide();
                });


        if typeof level !== 'undefined'
            script(
                src="/js/comp.js"
                level='#{level}'
                color_potencial_step='#{color_potencial_step}'
                time_check_checkbox='#{time_check_checkbox}'
                time_check_text='#{time_check_text}'
                multiattack='#{multiattack}'
                fuchs='#{fuchs}'
                simple_back_attack='#{simple_back_attack}'
                color_potencial_fuchs = '#{color_potencial_fuchs}'
                type_game='#{type_game}'
            )
        else
            script(
                src="/js/players_logic.js"
                nickname='#{nickname}'
                id_nickname='#{isAuth}'
            )

